repeater:
    hostname: lutron-radiora
    username: stargate
    password: stargate
    cached_database: DbXmlInfo.xml

    layout:
        ignore_keypads: [1]

logging:
    logfile: stargate.log # stargate-%(pid)d.log
    console_level: warning
    level: debug
    level.ra_repeater: debug
    level.ra_repeater.listener: info

server:
    port: 5000
    public: false
    webdebug: true
