# Configuration file for Stargate (https://github.com/metamatt/stargate).
# Data is in YAML format (http://www.yaml.org/; http://en.wikipedia.org/wiki/YAML).
#
# Stargate takes an explicit-configuration approach: values listed here as "default"
# are default only because this file specifies them by default, and must remain
# in this file; the code won't know what to do without them.

# global configuration
working_dir: ./RUN

# persistent database (for device-state tracking and history)
database:
    # datafile: relative to working_dir; default is stargate.sqlite
    datafile: stargate.sqlite
    # checkpoint_interval: how often to track time consumed by devices that
    # have not changed state, in seconds; default 3600 (1 hour)
    checkpoint_interval: 3600

# logfile, for debugging
logging:
    # logfile: relative to working_dir; default is stargate-%(pid)d.log
    logfile: stargate.log
    # level: global output level; one of (debug, info, warning, error)
    level: debug
    # equal or higher level which is output to console as well as logfile
    console_level: warning
    # loglevels for plugin modules
    level.gateways.radiora2.ra_repeater: debug
    level.gateways.radiora2.ra_repeater.listener: info
    level.gateways.powerseries: debug
    level.gateways.powerseries.dsc_panel.listener: info

# webserver configuration (for UI and API)
server:
    port: 5000
    public: false
    webdebug: true

# define the house and its areas
# (gateway plugins can map to these or add their own)
house:
    name: House da Joint
    areas:
        TODO

# gateway plugin module configuration
# one section for each gateway plugin to load, by name
gateways:
    # This is an ugly hack; I should read yaml file into order-preserving dictionary
    order: [ radiora2, powerseries, vera, synther]

    # Gateway list: configure each desired gateway module.
    #
    # Instead of just mentioning a gateway name as scope here, I should have these be user-defined
    # names which specify a gateway inside, and allow the same gateway to be loaded more than once.
    # Then in gateways which refer to devices belonging to other gateways (e.g. synther), we should
    # have a uniform syntax for referring to (gateway, device, params).
    #
    # Something like:
    # my_radiora:
    #   type = radiora2
    #   ... other args for radiora2 ...

    radiora2:
        # disabled: true # optional, default false, uncomment to disable while testing
        repeater:
            hostname: lutron-radiora
            username: stargate
            password: stargate
            cached_database: DbXmlInfo.xml

            layout:
                ignore_keypads: [1]

    vera:
        # disabled: true # optional, default false, uncomment to disable while testing
        gateway:
            hostname: vera-garage
            poll_interval: 5 # in seconds

    powerseries:
        # disabled: true # optional, default false, uncomment to disable while testing
        gateway:
            hostname: envisalink
            password: user
            reflector_port: 4025 # 0 to disable (default)
        zone_names:
            1: Garage door
            2: Garage side door
            3: Alley door
            4: Storage room door
            6: Alley lights
            7: Lower stair lights
            8: Upper stair lights
            9: Media room back door
            16: Media room motion
            17: Front door
            18: Kitchen back door
            24: Hallway motion
        partition_names:
            1: Burglar alarm
            2: Lighting integration
            3: Lock integration
        area_mapping:
            Garage: [ 1, 2 ]
            Outside: [ 3, 4, 6, 7, 8 ]
            Entryway: [ 17 ]
            Kitchen: [ 18 ]
            Media room: [ 9, 16 ]
            Hallway: [ 24 ]

    synther:
        # disabled: true # optional, default false, uncomment to disable while testing
        # This should get generalized and cleaned up. For now, it only supports the devices pairs I need right now.

        # bridges: a radiora2 output which is programmed but not activated from Lutron programming perspective;
        # it will get its state from dsc_zone sensor and send toggle to dsc_cmd output XY (partition X command Y)
        # if it changes state.
        bridges:
            - { radiora2: 96, dsc_zone: 6, dsc_cmd: 23 } # alley
            - { radiora2: 93, dsc_zone: 7, dsc_cmd: 22 } # lower
            - { radiora2: 95, dsc_zone: 8, dsc_cmd: 21 } # upper

        # ledbridges: a radiora2 keypad button LED which should not be assigned to anything in Lutron software.
        # It will get its state from dsc_zone sensor. Note that we use the button ID, not the LED it, as the
        # component ID, because RaRepeater stores buttons and LEDs together by button ID.
        ledbridges:
            - { radiora2_keypad: 21, radiora2_button_cid: 5, dsc_zone: 1, negate: false }

        # delays: a radiora2 keypad button which will send a command to another radiora2 device if pressed and
        # held until the delay expires.
        delays:
            - { radiora2_keypad: 21, radiora2_button_cid: 5, delay: 3, radiora2_output: 55, value: pulse }
