<!DOCTYPE html>
{% macro count_items(count, typename) -%}
	{{ count }} {{ typename }}{{ 's' if count != 1 }}
{%- endmacro %}
{% macro count_list_items(list, typename) -%}
	{{ count_items(list | length, typename) }}
{%- endmacro %}
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock title %} - Stargate</title>
    {% endblock head %}
</head>
<body>
    <div id="header">
		{% block header %}
			<h1><a href="{{ url_for('root') }}">Stargate</a></h1>
			<a href="{{ url_for('enumerate_areas') }}">Areas</a>
			<a href="{{ url_for('enumerate_controls') }}">Controls</a>
			<a href="{{ url_for('enumerate_sensors') }}">Sensors</a>
			<a href="{{ url_for('enumerate_outputs') }}">Outputs</a>
		{% endblock header %}
	</div>
    <div id="content">
		{% block content %}{% endblock content %}
	</div>
    <div id="footer">
        {% block footer %}
			<hr>
			<a href="{{ url_for('root') }}">back to top</a>
			{% if debug %}
				| <a href="{{ url_for('debug_break') }}">enter debugger</a>
			{% endif %}
	        <!--| Stargate &copy; Copyright 2012 by <a href="http://metamatt.com/">Matt Ginzton</a>. -->
        {% endblock footer %}
    </div>
</body>
</html>
