{% extends "base.html" %}
{% block title %}Overview{% endblock title %}
{% block content %}

<p>
	<a href="{{ url_for('enumerate_areas') }}">Areas</a>:
	{% set type_state_map = house.get_device_type_state_map() %}
	{% for type in type_state_map | order_device_types(devclass = 'device') %}
		{% set states = type_state_map[type] | order_device_states(devclass = 'device') %}
		<a href="{{ url_for('enumerate_areas', filterdesc = type) }}">{{ type }}</a>
		{% if states|length %}(
			{% for state in states %}
				<a href="{{ url_for('enumerate_areas', filterdesc = type + ':' + state) }}">{{ state }}</a>
			{% endfor %}
		){% endif %}
	{% endfor %}
</p>

<p>
	<a href="{{ url_for('enumerate_controls') }}">Controls</a>:
	{% set type_state_map = house.get_device_type_state_map(devclass = 'control') %}
	{% for type in type_state_map | order_device_types(devclass = 'control') %}
		<a href="{{ url_for('enumerate_controls', filterdesc = type) }}">{{ type }}</a>
	{% endfor %}
	| used in last
	  <a href="{{ url_for('enumerate_controls', filterdesc = ':age=3600') }}">hour</a>
	  <a href="{{ url_for('enumerate_controls', filterdesc = ':age=86400') }}">day</a>
</p>

<p>
	<a href="{{ url_for('enumerate_sensors') }}">Sensors</a>:
	{% set type_state_map = house.get_device_type_state_map(devclass = 'sensor') %}
	{% for type in type_state_map | order_device_types(devclass = 'sensor') %}
		<a href="{{ url_for('enumerate_sensors', filterdesc = type) }}">{{ type }}</a>
	{% endfor %}
	| used in last
	  <a href="{{ url_for('enumerate_sensors', filterdesc = ':age=3600') }}">hour</a>
	  <a href="{{ url_for('enumerate_sensors', filterdesc = ':age=86400') }}">day</a>
</p>

<p>
	<a href="{{ url_for('enumerate_outputs') }}">Outputs</a>:
	{% set type_state_map = house.get_device_type_state_map(devclass = 'output') %}
	{% for type in type_state_map | order_device_types(devclass = 'output') %}
		{% set states = type_state_map[type] | order_device_states(devclass = 'output') %}
		<a href="{{ url_for('enumerate_outputs', filterdesc = type) }}">{{ type }}</a>
		{% if states|length %}(
			{% for state in states %}
				<a href="{{ url_for('enumerate_outputs', filterdesc = type + ':' + state) }}">{{ state }}</a>
			{% endfor %}
		){% endif %}
	{% endfor %}
	| changed in last
	  <a href="{{ url_for('enumerate_outputs', filterdesc = ':age=3600') }}">hour</a>
	  <a href="{{ url_for('enumerate_outputs', filterdesc = ':age=86400') }}">day</a>
</p>

{% endblock content %}
