{% extends "base.html" %}
{% block title %}{{ device.devclass }} details{% endblock title %}
{% block content %}

<p>
	Viewing 1 {{ device.devclass }} in
	area <a href="{{ url_for('enumerate_devices_by_area', area_id = device.area.area_id) }}">{{ device.area.name }}</a>
	(<a href="{{ url_for('enumerate_' + device.devclass + 's_by_area', area_id = device.area.area_id) }}">view all {{ device.devclass }}s</a>):
	{% include 'inc/outputForm.html' %}
</p>

{% if device.get_button_ids %}
	<ul>
		{% for cid in device.get_button_ids() %}
			<li>
				{% set button = device.get_button(cid) %}
				{% if button.has_led() %}
					{{ '( O )' if button.get_led_state() else '( . )' }}
				{% endif %}
				<a href="{{ url_for('get_control', dev_id = device.device_id, button_id = button.button_cid, action = 'pulse')}}">{{ device.get_button(cid).label }}</a>
				{{ '(pressed)' if button.get_button_state() else '' }}
			</li>
		{% endfor %}
	</ul>
{% endif %}

<p><font size=-1>
	Usage information for <i>{{ device.area.name }}:{{ device.name }}</i>:
	<ul><table>
		<tr><td>Current state</td><td>{{ device.get_current_states()|join(', ') }}</td></tr>
		<tr><td>Time since last change</td><td>{{ device.get_delta_since_change() | human_readable_timedelta('longer than data is available') }}</td></tr>
		<tr><td>Number of changes today</td><td>{{ device.get_action_count() }}</td></tr>
		<tr><td>Total time {{ device.get_name_for_level(1) }}</td><td>{{ device.get_time_in_state(True) | human_readable_timedelta }}</td></tr>
		<tr><td>Average level while {{ device.get_name_for_level(1) }}</td><td>TBD</td></tr>
		<tr><td>Total time {{ device.get_name_for_level(0) }}</td><td>{{ device.get_time_in_state(False) | human_readable_timedelta }}</td></tr>
	</table></ul>
	<p>Recent events:<ul>
		{% for ev in device.get_recent_events() %}
			<li>{{ ev }}</li>
		{% endfor %}
	</ul></p>
</font></p>

{% endblock content %}
