matching filter:

{% macro decorate_active(devtype, devstate = None) %}
    {% set state_for_display = devstate if devstate else devtype %}
    {% set state_for_link = './' + devtype + (':' + devstate if devstate else '') %}
	{% if (devtype == active_filter.devtype and devstate == active_filter.devstate) or (devtype == 'all' and active_filter.devtype == None) %}
		<b>{{ state_for_display }}</b>
	{% else %}
		<a href="{{ state_for_link }}">{{ state_for_display }}</a>
	{% endif %}
{% endmacro %}

{% set filterscope = area if area else house %}
{% set devclass = active_filter.devclass %}
{% set type_state_map = filterscope.get_device_type_state_map(devclass = devclass) %}

{% for type in type_state_map | order_device_types(devclass = devclass) %}
	{{ decorate_active(type) }}

	{% set states = type_state_map[type] | order_device_states(devclass = devclass) %}
	{% if states|length %}
		(
		{% for state in states %}
			{{ decorate_active(type, state) }}
		{% endfor %}
		)
	{% endif %}
{% endfor %}
