{% set outputForm = 'output%d' % device.iid %}
<form name="{{ outputForm }}" action="{{ url_for('set_output', dev_id = device.device_id) }}" method="post">
	{% macro emit_set_to_level_link(name) -%}
		<a href="#" onclick="document.{{ outputForm }}.elements['state'].value='level'; document.{{ outputForm }}.submit(); return false">{{ name }}</a>
	{%- endmacro %}
	{% macro emit_set_to_state_link(state) -%}
		<a href="#" onclick="document.{{ outputForm }}.elements['state'].value='{{ state }}'; document.{{ outputForm }}.submit(); return false">{{ state }}</a>
	{%- endmacro %}
	
	<input type="hidden" name="state" value="">

	<a href="{{ url_for('get_' + device.devclass, dev_id = device.device_id) }}">{{ device.name }}</a>
	
	{% if device.get_level and device.devclass == 'output' %}
		: {{ device.get_level() }}
	{% endif %}
	
	{% for state in device.get_possible_actions() | order_device_states(devclass = device.devclass) %}
		| {{ emit_set_to_state_link(state) }}
	{% endfor %}
	
	{% if device.set_level %}
		| <input type="range" name="level" min="0" max="100" step = "{{ device.level_step }}" value="{{ device.get_level() }}">
		{{ emit_set_to_level_link('Set') }}
	{% endif %}
</form>
