{% extends "base.html" %}
{% block title %}Outputs{% endblock title %}
{% block content %}

<p>
	{{ count_list_items(outputs, 'device') }}
	{% if area %}
		in area <a href="{{ url_for('enumerate_outputs_by_area', iid = area.iid) }}">{{ area.name }}</a>
	{% endif %}
	{% include 'inc/filterbar.html' %}
</p>
{% for output_group in outputs | groupby('zone') | sort(attribute = 'grouper.name') %}
	{% if not area %}
		<!-- redundant when scoped to a single area -->
		In area <a href="{{ url_for('enumerate_outputs_by_area', iid = output_group.grouper.iid) }}">{{ output_group.grouper.name }}</a>
	{% endif %}
	<ul>
		{% for type_group in output_group.list | groupby('type') %}
			{{ count_list_items(type_group.list, type_group.grouper) }}: set all to [ on | off ]
			<ul>
				{% for output in type_group.list %}
					<li>
						{% include 'inc/outputForm.html' %}
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</ul>
{% endfor %}

{% endblock content %}
