{% extends "base.html" %}
{% block title %}{{ devclass }} details{% endblock title %}
{% block content %}

<p>
	Viewing 1 {{ devclass }} in
	area <a href="{{ url_for('enumerate_devices_by_area', iid = device.area.iid) }}">{{ device.area.name }}</a>
	(<a href="{{ url_for('enumerate_' + devclass + 's_by_area', iid = device.area.iid) }}">view all {{ devclass }}s</a>):
	{% include 'inc/outputForm.html' %}
</p>

{% if device.get_button_ids %}
	<ul>
		{% for cid in device.get_button_ids() %}
			<li>
				{% set button = device.get_button(cid) %}
				{% if button.has_led() %}
					{{ '( O )' if button.get_led_state() else '( . )' }}
				{% endif %}
				<a href="{{ url_for('activate_control_hack', iid = device.iid, button_id = button.button_cid, action = 'pulse')}}">{{ device.get_button(cid).label }}</a>
				{{ '(pressed)' if button.get_button_state() else '' }}
			</li>
		{% endfor %}
	</ul>
{% endif %}

<p>
	Changed {{ count_items(device.action_count, 'time') }} today;
	{{ 'most recently ' + device.get_recent_use_estimate() if device.get_recent_use_estimate() else "no changes in last 24 hours" }}.
</p>

{% endblock content %}
