{% set outputForm = 'output%d' % output.iid %}
<form name="{{ outputForm }}" action="{{ url_for('set_output', iid = output.iid) }}" method="post">
	{% macro emit_set_to_level_link(name) -%}
		<a href="#" onclick="document.{{ outputForm }}.elements['state'].value='level'; document.{{ outputForm }}.submit(); return false">{{ name }}</a>
	{%- endmacro %}
	{% macro emit_set_to_state_link(state) -%}
		<a href="#" onclick="document.{{ outputForm }}.elements['state'].value='{{ state }}'; document.{{ outputForm }}.submit(); return false">{{ state }}</a>
	{%- endmacro %}
	
	<input type="hidden" name="state" value="">

	<a href="{{ url_for('get_output', iid = output.iid) }}">{{ output.name }}</a>: {{ output.get_level() }}
	
	{% for state in output.get_possible_actions() | order_states %}
		| {{ emit_set_to_state_link(state) }}
	{% endfor %}
	
	| <input type="range" name="level" min="0" max="100" step = "{{ output.level_step }}" value="{{ output.get_level() }}">
	{{ emit_set_to_level_link('Set') }}
</form>
